#MasterContainer {
  width: 100%;
  height: 60rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: black;
}
#CardContainer {
  width: 50rem;
  height: 52rem;
  border-radius: 20px;
}
#NabBar {
  display: flex;
  border-bottom: 10px double;
}
#ContainerName {
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#Name {
  font-size: 30px;
}
#SubTitle {
  font-size: 20px;
}
#ContainerButton {
  width: 20rem;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#ButtonTags {
  background-color: var(--COLOR_BORDE);
  border-radius: 15px;
  border: 4px solid var(--COLOR_BORDEOSCURO);
  text-decoration: none;
  font-size: 20px;
  width: 10rem;
  margin: 5px;
  cursor: pointer;
  color: var(--COLOR_LETRAS);
}
#ButtonTags:hover {
  background-color: var(--COLOR_BORDEOSCURO);
}
#InputTag {
  width: 7rem;
  height: 2rem;
  text-decoration: none;
  border-radius: 20px 10px;
  background-color: var(--COLOR_FONDO);
  color: var(--COLOR_LETRAS);
}
#ContainerTasks {
  width: 50rem;
  height: 45rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  background-color: var(--COLOR_FONDO);
  border-radius: 1rem;
  margin-top: 20px;
}
