*{
  margin: 0px;
}
body {
  background-image: url(./Img/libro2.jpg);
  background-repeat: no-repeat;
  z-index: -1;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root{
  /* COLORES */
  --COLOR_BORDEOSCURO: rgb(0, 0, 135);
  --COLOR_BORDE: rgb(0, 89, 255);
  --COLOR_FONDO: rgba(0, 0, 0, 0.581);
  --COLOR_LETRAS: rgb(255, 255, 255);
}
