#ModalContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 500ms ease;
}
#Modal {
  width: 35rem;
  height: 30rem;
  margin: auto;
  background-color: var(--COLOR_BORDE);
  box-shadow: 1px 7px 25px rgba(0, 0, 0, 0.6);
  transition: all 500ms ease;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 15px var(--COLOR_BORDEOSCURO);
  border-radius: 10px;
}
#Titulo {
  width: 100%;
  height: 3rem;
  background-color: var(--COLOR_FONDO);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
#ButtonModal {
  position: absolute;
  top: 10px;
  right: 10px;
  color: black;
  font-size: 15px;
  cursor: pointer;
}
#FormContainer {
  background-color: var(--COLOR_FONDO);
  margin: 1rem;
  width: 30rem;
  height: 25rem;
  font-size: 20px;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}
#Form {
  margin: 25px;
}
#ContainerCalendar {
  height: 3rem;
  width: 10rem;
  margin: 1rem 0rem 3rem 0rem;
}
#TagsMasterContainer {
  margin: 10px 0px 0px 0px;
  width: 10rem;
  height: 14rem;
}
#TagsContainer {
  width: 10rem;
  height: 10rem;
  display: flex;
  overflow: scroll;
}
#ContainerButton {
  width: 15rem;
  display: flex;
  justify-content: center;
  margin: 1rem;
}
#Tag {
  margin: 10px 0px 0px 0px;
}
